.periodic-table-container {container-type: inline-size;}
table.periodic, table.periodic td {border: none; padding: 0;}
table.periodic div.tile {height: 6.4cqw; width: 4.8cqw; margin: 0.36cqw; container-type: inline-size;}
table.periodic a, table.periodic a:hover {color: black; text-decoration: none;}
table.periodic a.tc-tiddlylink-shadow {font-weight: normal;}
table.periodic tr td:nth-child(3) div.tile {margin-left: 3cqw;}
table.periodic tr:nth-child(8) div.tile {margin-top: 3cqw;}
/* These lines fix things at smaller sizes.  Why? */
/* table.periodic div.element .number, table.periodic div.element .mass {margin-top: -15cqw} */
/* table.periodic div.element .name {margin-bottom: -15cqw;} */

@container (max-width: 37px) {
  table.periodic div.element .name, table.periodic div.element .mass{display: none;}
}
@container (max-width: 29px) {
  table.periodic div.element .number {display: none;}
  table.periodic div.element .symbol {margin-top: -15cqw;}
}
